<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>内容标签</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/bootstrap-3.3.7-dist/css/dash-board.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">日志后台</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="http://localhost:8110/jump/getUser">用户管理<span class="sr-only">(current)</span></a></li>
                <li><a href="http://192.168.254.29:8110/user-login/getUserLoginByPage">用户浏览器管理</a></li>
                <li><a href="http://localhost:8110/jump/getFile">电脑操作记录</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">员工电脑操作记录</h1>
                <form id="updateform" action="#" >
                    <div class="form-group">
                        <label for="userId" class="control-label">工号:</label>
                        <input type="text" class="form-control" id="userId" name="userId">
                    </div>
                    <div class="form-group">
                        <label  class="date-label">单据日期：</label>
                        <div class="date-container">
                            <i class="fa fa-calendar date-icon"></i>
                            <input type="date" id="startData" class="form-control date-input">
                        </div>

                    </div>
                    <div class="form-group">
                        <label  class="date-label">--</label>
                        <div class="date-container">
                            <i class="fa fa-calendar date-icon"></i>
                            <input type="date" id="endData" class="form-control date-input">
                        </div>
                    </div>
                    <div class="text-right">
                        <span id="returnMessage" class="glyphicon"> </span>
                        <button type="button" class="btn btn-default right" data-dismiss="modal">关闭</button>
                        <button id="submitBtn" type="button" class="btn btn-primary" οnclick="add_info()" >修改</button>
                    </div>
                </form>
        </div>
    </div>
</div>
</body>
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap-3.3.7-dist/js/jquery.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap-table.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<script src="/static/bootstrap-3.3.7-dist/js/bootstrap-table-zh-CN.js"></script>
<!--<script src="/static/bootstrap-3.3.7-dist/js/download.js"></script>-->

<script>
    function add_info(){
        var form = document.getElementById('updateform');
        form.submit();
        $("#myModal").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });

    }
</script>
</html>
