<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-table.min.css">


</head>

<body>

<!--id可变的！！-->
<table id="table_server" ></table>

</body>
<script src="/static/bootstrap-3.3.7-dist/js/jquery.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap-table.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<script src="/static/bootstrap-3.3.7-dist/js/bootstrap-table-zh-CN.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/index.js"></script>
</html>
